<div class="container ">

<div class="row">
	        <div class="div100Percent">
  	          <div class="div70Percent">
    	          <label>Select Class:</label>
    	          <select>
    	              <option> Class 1</option>
    	              <option> Class 2</option>
    	          </select>
  	          </div>
  	          <div class="div30Percent">
	              <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="Add Student"/>
	            </div>
	          </div>
</div>
<div class="row">
<div class="table-responsive MCESimTable">
      	<table class="table table-hover">
  			<thead class="thead-inverse">
  			<tr>
  			    <th class="text-center" colspan ="4">
  			        <h2>Students</h2>
  			    </th>
  			</tr>
     		<th class="text-center">Name</th>
     		<th class="text-center">Role</th>
     		<th class="text-center"> Balance</th>
     		<th class= "text-center">Remove Student</th>
				<tbody>
     		<tr ng-repeat="student in studentData">
     			<td class="text-center"><a ng-click = "setSelectedStudent(student)" href="#transaction">{{student.Name}}</a></td>
     			<td class="text-center">{{student.Role}}</td>
     			<td class="text-center">{{student.Balance | currency}}</td>
     			<td class="text-center">
     			  <input type="button" id="$index + removeStudent" value="Remove Student" ng-click="removeStudent($index)"/>
     			</td>
     		</tr>
			</tbody>
      	</table>
</div>
</div>

</div>
</div>
  <!-- Modal (PopOver) -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Student</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr class="borderless">
              <td>Name: </td>
              <td class="center-block">
                <input id ="studentName" ng-model="modal.studentName"  ng-change = "textValidate(modal.studentName)" type="text" />
              </td>
            </tr>
            <tr class="borderless">
              <td>Role: </td>
              <td class="center-block">
                <input id ="studentRole" ng-model="modal.studentRole" ng-change = "textValidate(modal.studentRole)" type="text" />
              </td>
            </tr>
            <tr class="borderless">
              <td>Starting Balance: </td>
              <td class="center-block">
                <input id ="startingBalance" ng-model="modal.startingBalance" ng-change="numberValidate(modal.startingBalance)" type="text" />
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-primary" data-dismiss="modal" value="Add Student" ng-click="addStudent(modal)"/>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Close"/>
        </div>
      </div>

    </div>
</div> <!-- /container -->
